# Logs
*.log
firebase-debug.log

# Firebase
.firebase/
firebase-debug.*
firebase-debug*

# IDE specific files
.idea/
*.iml
.vscode/
*.swp
*.swo

# Build files
target/
bin/
build/

# Environment variables
.env
.env.local
.env.*.local

# System Files
.DS_Store
Thumbs.db

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java class files
*.class

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# Local development files
local.properties

# Firebase cache
.firebase/hosting.*.cache*
